{{extend './_layouts/home.html'}} {{block 'title'}}{{'多人博客 - 首页'}}{{/block}} {{block 'body'}}




<section class="container">

    <div class="choice">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation"><a href="/year/{{year}}/excel/Models">ACM获奖</a></li>
            <li role="presentation"><a href="/year/{{year}}/excel/Group">ACM队员</a></li>
            <li role="presentation"><a href="/year/{{year}}/excel/Action">校内活动</a></li>
            <li role="presentation"><a href="/year/{{year}}/excel/Coach">教练</a></li>
        </ul>
    </div>
    <div class="neirong">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">



            <form action='/year/{{year}}/excel/{{item}}/new' method='post' class='wsh' enctype="multipart/form-data">
                <input type="file" name="logo">
                <div class="form-group">
                    <label for="">名称</label>
                    <input type="text" class="form-control" id="" name='name'>
                </div>
                <div class="form-group">
                    <label for="">时间</label>
                    <input type="text" class="form-control" id="" name='time'>
                </div>
                <div class="form-group">
                    <label for="">介绍</label>
                    <input type="text" id="" name='detail' class="form-control">
                </div>

                <div class="form-group">
                    <label for="">其它</label>
                    <input type="text" class="form-control" id="" name='others'>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
    </div>

    {{include './_partials/year.html'}}
</section>
<script>
    var a = 10;
    var b = document.querySelector('.dropdown');
    var c = document.querySelector('.yincang');
    b.onclick = function() {
        if (c.style.height == '0px' || c.style.height == 0) {
            c.style.height = '120px';
        } else {
            c.style.height = '0px';
        }
        console.log('我好了');
    }
</script>
<script type="text/javascript">
    //部分提交验证。。。实际提交需要完全验证；
    var input = document.querySelector("#username");

    function check() {
        if (input.value == "" || input.value.trim().length == 0) {
            input.style.border = "1px solid red";
            console.log("确认提交")
            return false;
        } else {
            input.style.border = "1px solid green";
        }
    }
</script>

{{/block}}