<nav class="navbar navbar-default">

    <div class="header">


        <!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->

        <ul class="nav navbar-nav navbar-right">
            {{ if user }}

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img width="20" height="20" src="../public/img/avatar-max-img.png" alt=""> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-current-user">
                        当前登录用户: {{ user.nickname }}
                    </li>
                    <li role="separator" class="divider"></li>

                    <li><a href="/register">注册</a></li>
                    <li><a href="/logout">退出</a></li>
                </ul>
            </li>
            {{ else }}
            <a class="btn btn-primary navbar-btn" href="/login">登录</a> {{ /if }}
        </ul>

    </div>


</nav>